.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin: 0 0 0 auto;
}

.mainLink {
    margin: 0 10px;
}
